
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello, React!</title>
</head>
<body>
    <div id="content"></div>

    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    @Scripts.Render("~/bundles/main")
    @Html.ReactInitJavaScript()
</body>
</html>
