/* Additional info:
    https://medium.com/@js_tut/css-grid-tutorial-filling-in-the-gaps-c596c9534611
    https://css-tricks.com/snippets/css/complete-guide-grid/ 
*/

/* 
    Defines the element as a grid container and establishes 
    a new grid formatting context for its contents. 
*/
.container {
    display: grid;
}

.container-column {
    display: grid;
    grid-auto-flow: column;
}

/* Custom Helpers */

.spacer {
    padding: 1em;
}

.layout-item {
    background-color: #357E23;
    border-style: solid;
    text-align: center;
}

.grid-gap-item {
    background-color: #1D77CF;
    border-style: solid;
    text-align: center;
}

.fr-unit-item {
    background-color: #F8A733;
    border-style: solid;
    text-align: center;
}

.repeating-item {
    background-color: #DC0015;
    border-style: solid;
    text-align: center;
}

.start-and-end-static-item {
    background-color: #995FC7;
    border-style: solid;
    text-align: center;
}

.start-and-end-item {
    background-color: #6514A5;
    border-style: solid;
    text-align: center;
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 6; */
    grid-row: 2 / span 2;
    grid-column: 2 / span 4;
}

.grid-gap-aligned-justified-item {
    background-color: #B8DDED;
    border-style: solid;
    text-align: center;
    align-self: center;
    justify-self: center;
}

/* Custom Layouts */

.minimalist-two-column-design {
    grid-template-columns: 150px 210px;
    grid-template-rows: 45px 70px;
}

.flex-like-column-design {
    grid-template-columns: 150px;
    grid-template-rows: 35px;
    grid-auto-columns: 45px;
}

.automatic-column-cell-width {
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto;
}

.grid-column-gap-design {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 75px 75px 75px 75px;
    grid-row-gap: 0;
    grid-column-gap: 25px;
}

.grid-row-gap-design {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 75px 75px 75px 75px;
    grid-row-gap: 25px;
    grid-column-gap: 0;
}

.grid-gap-design {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 75px 75px 75px 75px;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

.basic-fr-unit-usage {
    grid-template-columns: 10fr 5fr 1fr;
    grid-template-rows: 75px;
    grid-column-gap: 25px;
}

.equal-width-fr-unit-usage {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px;
    grid-column-gap: 25px;
}

.repeating-values {
    grid-template-columns: repeat(3, 60px, 35px);
    grid-template-rows: 75px;
    grid-column-gap: 25px;
}

.grid-start-and-end-usage {
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

.align-and-justify-self-usage {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 75px 75px 75px 75px;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}