@model IEnumerable<CountingKs.Data.Entities.Food>
@{
  ViewBag.Title = "Home Page";
}
@section featured {
  <section class="featured">
    <div class="content-wrapper">
    </div>
  </section>
}
<h3>Some sample results from the database:</h3>
@foreach (var food in Model)
{
  <div>@food.Description</div>
  <ul>
    @foreach (var measure in food.Measures)
    {
      <li>@measure.Description: @measure.Calories calories</li>
    }
  </ul>
}