.panel {
    border-color: #AE2225;
}

.panel .hyperlink {
    cursor: pointer;
    color: #AE2225;
}

.hyperlink:hover {
    border-bottom: solid 1px #AE2225;
}

.panel-heading {
    background-color: #AE2225;
    border-color: #AE2225;
}

.btn-primary {
    background-color: #AE2225;
    border-color: #AE2225;
}

thead {
    color: #AE2225;;
}