@using Microsoft.AspNetCore.Authentication

<div>
	<strong>id_token</strong>
	<span>@await ViewContext.HttpContext.Authentication.GetTokenAsync("id_token")</span>
</div>

<div>
	<strong>access_token</strong>
	<span>@await ViewContext.HttpContext.Authentication.GetTokenAsync("access_token")</span>
</div>

<div>
    <strong>refresh_token</strong>
    <span>@await ViewContext.HttpContext.Authentication.GetTokenAsync("refresh_token")</span>
</div>

@foreach (var claim in User.Claims)
{
	<div>
		<strong>@claim.Type: </strong>
		<span>@claim.Value</span>
	</div>
}